<form [formGroup]="loginForm" (ngSubmit)="login()">
    <p-card header="Prisijunkite">
        <div class="row">
            <div class="col-12 pb-1">
                <div class="p-inputgroup"
                    [class.invalid-field]="loginForm.controls.email.invalid && loginForm.controls.email.dirty">
                    <span class="p-inputgroup-addon">
                        <fa-icon [icon]="icons.user"></fa-icon>
                    </span>
                    <input type="text" formControlName="email" pInputText placeholder="El. pašto adresas">
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup"
                    [class.invalid-field]="loginForm.controls.password.invalid && loginForm.controls.password.dirty">
                    <span class="p-inputgroup-addon">
                        <fa-icon [icon]="icons.key"></fa-icon>
                    </span>
                    <input type="password" formControlName="password" pInputText placeholder="Slaptažodis">
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <p-button type="submit" [disabled]="loginForm.invalid" label="Prisijungti"
                        pTooltip="Įveskite vartotojo vardą ir slaptažodį" [showDelay]="500"
                        [tooltipDisabled]="!loginForm.invalid">
                    </p-button>
                </div>
            </div>
        </ng-template>
    </p-card>
</form>