<div #oc class="position-fixed">
</div>

<p-overlayPanel #op [showCloseIcon]="closeEnabled" [baseZIndex]="100" [dismissable]="false" [style]="{width: '300px'}">
    <ng-template pTemplate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">
                    <label>Numeris:</label>
                </div>
                <div class="col-7">
                    <p-inputNumber [(ngModel)]="table.number" (ngModelChange)="update()" [showButtons]="true"
                        buttonLayout="horizontal" [step]="1" [min]="1">
                    </p-inputNumber>
                </div>
                <div class="col-5">
                    <label>Vietos:</label>
                </div>
                <div class="col-7">
                    <p-inputNumber [(ngModel)]="table.seats" [showButtons]="true" buttonLayout="horizontal" [step]="1">
                    </p-inputNumber>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>