#menu {
    background-color: var(--backgroud-col);
    height: 8vh;
}

img {
    max-width:100%;
    max-height:100%;
}

.image-container {
    max-height: 8vh;
    max-width: 8vh;
    padding-top: 1vw;
    padding-left: 1vw;
}