<div class="container-fluid">
    <div id="menu" class="row justify-content-center">
        <div class="col-1 image-container">
            <img src="assets/page_icon.png">
        </div>
        <div class="col-1 h-100">
            <p-button styleClass="p-button-link" label="Restoranas"></p-button>
        </div>
        <div class="col-1 h-100">
            <p-button styleClass="p-button-link" label="Rezervacijos"></p-button>
        </div>
        <div class="ml-auto h-100">
            <button pButton pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-danger p-button-outlined"></button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>