<div class="container-fluid" *ngIf="authService.currentUser != null">
    <div id="menu" class="row justify-content-center">
        <div class="col-1 image-container">
            <img src="assets/page_icon.png">
        </div>
        <p-tabMenu [model]="menuItems" [activeItem]="activeItem">
            <ng-template pTemplate="item" let-item let-i="index">
                {{item.label}}
            </ng-template>
        </p-tabMenu>
        <div class="col-1 image-container ml-auto">
            <button pButton pRipple type="button" icon="pi pi-sign-out" (click)="exit()"
                class="p-button-rounded p-button-secondary p-button-outlined" pTooltip="Išeiti"></button>
        </div>
    </div>
</div>
<p-toast></p-toast>
<router-outlet></router-outlet>