<p-table #dt [value]="details">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>
                Klientas
            </th>
            <th>
                Telefono numeris
            </th>
            <th>
                El. pašto adresas
            </th>
            <th>
                Staliuko numeris
            </th>
            <th>
                Sėdimų vietų skaičius
            </th>
            <th>
                Pradžia
            </th>
            <th>
                Pabaiga
            </th>
            <th>
                Atvyko
            </th>
            <th>
                Išvyko
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
        <tr>
            <td>{{rowData.userFullName}}</td>
            <td>{{rowData.userPhoneNumber}}</td>
            <td>{{rowData.userEmail}}</td>
            <td>{{rowData.tableNumber}}</td>
            <td>{{rowData.tableSeats}}</td>
            <td>{{rowData.start | time}}</td>
            <td>{{rowData.end | time}}</td>
            <td>{{rowData.realStart != null ? (rowData.realStart | time) : '-'}}</td>
            <td>{{rowData.realEnd != null ? (rowData.realEnd | time) : '-'}}</td>
        </tr>
    </ng-template>
</p-table>